*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color : #183b56;
    --secendary-text-color : #577592;
    --accent-color : #2294ed;
    --accent-color-dark : #1d69a3;
    --padding-inline-section : 20px;
    --primary-font : 'Raleway', 'sans-serif';
    --secondary-font : 'Roboto', 'sans-serif';
}

/* RESETS */

body{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    background: url(./imgs/Home\ Page\ before\ login\ full\ length.png) center center fixed;
    background-size: 100%;
    width: 100%;
    transition: 0.5s ease-in;

}

p{
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.25rem;
    color: var(--secendary-text-color);
    line-height: 1.8rem;;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* UTILITIES */

.flex{
    display: flex;
}

/* NAVIGATION BAR */

nav{
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    background-color: white;
    height: 8vh;
}

.company-logo img{
    width: 20vw;
    padding-left: 5vw;
}

.nav-links{
    font-size:1.3vw;
    padding-right: 5vw;
}
.options:hover{
    color: orange;
}

.options{
    padding-right: 4vw;
    color: black;
    font-weight: 500;
}

.login-button{
    background-color: #5ac6b5;
    color: white;
    width: 6vw;
    height: 4.5vh;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    padding-top: 4.5px;
    font-weight: 500;
}

.login-button:hover{
    opacity: 0.8;
}

/* BODY */

.container{
    flex-direction: column;
    background-color: rgba(193, 255, 255, 0.6);
    border-radius: 50px;
    background-size: contain;
    margin-inline: 4rem;
    margin-block: 8.5vh;
    align-items: center;
    height: 75vh;
}

.body-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    align-items: center;
    text-align: center;
    font: var(--primary-font);
    position: relative;
    z-index: 8999;
}

.body-heading{
    font-size: 3.5rem;
    word-spacing: 0.8rem;
    font-style: italic;
    padding:16% 0px 3%;
    font-weight: 600;
    background-image: linear-gradient(90deg, #F38B12, #F21515, #F8E607);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.body-content p{
    font-size: 2rem;
    color: #676666;
    font-weight: 500;
    font-style: italic;
}

.container-buttons{
    font-size: 1rem;
    font-weight: 600;
}

.seek-inspiration{
    border-radius: 30px;
    color: white;
    background-color: #f8a10d;
    width: 13rem;
    height: 3.1rem;
    align-items: center;
    padding-top: 15.5px;
    margin-top: 80px;
    margin-right: 40px;
}

.seek-inspiration:hover{
    opacity: 0.8;
}

.how-it-works{
    border-radius: 30px;
    border: 3px solid #f8a10d;
    background-color: #ffffff;
    width: 13rem;
    height: 3.1rem;
    align-items: center;
    padding-top: 12.5px;
    color: black;
}

.how-it-works:hover{
    opacity: 0.8;
}
